<h1 class="page-header">Assign Product Owner(s) for Project(s)</h1>
<form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">

    <!-- table -->
    <table class="tables">
      <tr>
        <td><b>User Name</b></td>
        <td><b>Project</b></td>
        <td><b>Role</b></td>
        <td><b><span ng-show="tableform.$visible">Action</span></b></td>
      </tr>
      <tr ng-repeat="userProjectRole in userProjectRoles | filter:filterUserProjectRole">
        <td>
          <!-- editable user (select-remote) -->
          <span editable-select="userProjectRole.userId._id" e-form="tableform" onshow="loadUsers()" e-ng-options="u._id as u.username for u in users">
            {{ showUser(userProjectRole) }}
          </span>
        </td>
        <td>
          <!-- editable project (select-remote) -->
          <span editable-select="userProjectRole.projectId._id" e-form="tableform" onshow="loadProjects()" e-ng-options="p._id as p.name for p in projects">
            {{ showProject(userProjectRole) }}
          </span>
        </td>
        <td>
          <!-- user role -->
          <span>
            Product Owner
          </span>
        </td>
        <td>
            <button type="button" ng-show="tableform.$visible" ng-click="deleteUserProjectRole(userProjectRole._id)" class="btn btn-danger pull-right">Delete</button>
        </td>
      </tr>
    </table>

    <!-- buttons -->
    <div class="btn-edit">
      <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
        Edit
      </button>
    </div>
    <div class="btn-form" ng-show="tableform.$visible">
      <button type="button" ng-disabled="tableform.$waiting" ng-click="addUserProjectRole()" class="btn btn-default pull-right">Add Row</button>
      <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">Save</button>
      <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">Cancel</button>
    </div> 
    
  </form>
</div>
