<h1 style="text-align:center;">Scrum-iT</h1>
<div class="container">
 <div class="row">
  <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
          
    <form class="form-signin" role="form" ng-submit="checkLogin()">
      <h1 class="form-signin-heading" style="text-align:center;"><strong>{{message}}</strong></h1>
      <div class="panel-heading"> 
            <h2 class="panel-title" style="text-align:center;">Please login</h2>
      </div>
      
      <div class="panel-body">
          <form role="form">
              <fieldset>
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="emailAddress" placeholder="Email Address" required="" autofocus/><br/>
                  </div>
                      
                  <div class="form-group">
                    <input type="password" class="form-control" ng-model="password" placeholder="Password" required=""/>
                  </div>
                <div class="checkbox">            
                 <label>
                     <input type="checkbox" value="remember-me" id="rememberMe" ng-model="rememberMe"> Remember me
                     </label>
               </div>
             <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginNewUser()"><span class="glyphicon glyphicon-log-in"></span> Login</button>
             </fieldset>
             <br>
            <center> <a ng-href="#/register" href>Register Yourself</a></center>      
         </form>       
      </br>
      <strong>{{loginErrMessage}}</strong>
    </form>
  </div>
 </div>
</div>

