    
<div class="tab-content">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addRoleModal">Add Role</button>
    <!-- Modal -->
    <div>
        <div class="modal fade" id="addRoleModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Role</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Role Name">Role Name:</label>
                            <input type="text" class="form-control" ng-model="roleName">
                            </div>
                            <div class="form-group">
                                <label for="description">Role Description:</label>
                                <textarea  ng-model="roleDescription" class="form-control" rows="5" id="comment"></textarea>
                            </div>
                            <button type="button" class="btn btn-primary btn-md" ng-click="addNewRole()">Save Role</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="forList">
    <table class="tables">
        <thead>
            <tr>
              <th>Role Name</th>
              <th>Role Description</th>
              <th></th>
         </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in roles track by $index">
            <td><a href="#" onaftersave='updateRole(role._id,role.name,role.description)' editable-text="role.name">{{ role.name || "empty" }}</a></td>
            <td><a href="#" onaftersave='updateRole(role._id,role.name,role.description)' editable-text="role.description">{{ role.description || "empty" }}</a></td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteRole(role._id)">Delete</button></td>
        </tr>
         <tbody>
    </table>
</div>
    </div>
