<div class="col-md-12" ng-init="getCurrentSprint()">
      <h4 class="form-signin-heading">Current Sprint Details for project {{projectNameCurrentSprint}}</h4>
      <table class="tables">
          <tr>
              <td><b>Name:</b></td>
              <td>{{name}}</td>
          </tr>
          <tr>
              <td><b>Description:</b></td>
              <td>{{description}}</td>
          </tr>
          <tr>
              <td><b>Created By:</b></td>
              <td>{{createdBy}}</td>
          </tr>
          <tr>
              <td><b>Status:</b></td>
              <td>{{status}}</td>
          </tr>
          <tr>
              <td><b>Start Date:</b></td>
              <td>{{startDate}}</td>
          </tr>
          <tr>
              <td><b>End Date:</b></td>
              <td>{{endDate}}</td>
          </tr>
          <tr>
              <td><b>Estimated Effort:</b></td>
              <td>{{estimatedEffort}}</td>
          </tr>
          <tr>
              <td><b>Actual Effort:</b></td>
              <td>{{actualEffort}}</td>
          </tr>
          <tr>
              <td><b>Sprint Backlog Items</b></td>
              <td>{{sprintBacklogs}}</td>
          </tr>
      </table>
</div>
